.checkout{
    font-size: 36px;
    line-height: 43.88px;
    color:  #4E5150;
    margin-bottom: 5rem;
}
.contact{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 22px;
    margin-bottom: 2rem;
}

.email1{
    width: 390px;
    height: 40px;
    border: 1px solid #828282;
    border-radius: 12px;
    position: relative;
    &::placeholder{
        position: absolute;
width: 149px;
height: 20px;
left: 40px;
top: 7px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #828282;
    }
}
.email2{
    width: 390px;
    height: 40px;
    border: 1px solid #828282;
    border-radius: 12px;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 13rem;
    &::placeholder{
        position: absolute;
width: 149px;
height: 20px;
left: 40px;
top: 7px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #828282;
    }
}
.email20{
    width: 390px;
    height: 40px;
    border: 1px solid #828282;
    border-radius: 12px;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    &::placeholder{
        position: absolute;
width: 149px;
height: 20px;
left: 40px;
top: 7px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #828282;
    }
}
.email3{
    width: 390px;
    height: 40px;
    border: 1px solid #828282;
    border-radius: 12px;
    position: relative;
    margin-bottom: 2rem;
    &::placeholder{
        position: absolute;
width: 149px;
height: 20px;
left: 40px;
top: 7px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #828282;
    }
}
.email4{
    width: 154px;
    height: 40px;
    border: 1px solid #828282;
    border-radius: 12px;
    position: relative;
    margin-bottom: 2rem;
    margin-right: 8rem;
    &::placeholder{
        position: absolute;
width: 149px;
height: 20px;
left: 20px;
top: 9px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
color: #828282;
    }
}

.lab{
    position: absolute;
width: 40px;
height: 15px;
left: 148px;
top: 150.03px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #4F4F4F;
}
.lab1{
    position: absolute;
width: 40px;
height: 15px;
left: 148px;
top: 211.03px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #4F4F4F;
}
.lab2{
    position: absolute;
width: 120px;
height: 17px;
left: 148px;
top: 42.5rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 15px;
color: #4F4F4F;
}
.lab3{
    position: absolute;
width: 40px;
height: 15px;
left: 148px;
top: 48.5rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #4F4F4F;
}
.lab4{
    position: absolute;
width: 40px;
height: 15px;
left: 148px;
top: 54.5rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #4F4F4F;
}
.lab5{
    position: absolute;
width: 40px;
height: 15px;
left: 148px;
top: 60.5rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #4F4F4F;
}
.lab6{
    position: absolute;
width: 10rem;
height: 15px;
left: 38.5rem;
top: 60.5rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
color: #4F4F4F;
}
.lab7{
    position: absolute;
height: 15px;
left: 17.5rem;
top: 67.7rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
color: #4F4F4F;
}

.i{
    width: 120px;
    position: absolute;
    top: 0rem;
    left: 13rem;
    font-size: 14px;
}

.price{
    left: 13rem;
    position: absolute;
    top: 3rem;
    font-size: 13px;
    color: #F2994A;
    font-weight: 900;
}
.price1{
    left: 18rem;
    position: absolute;
    top: 3.1rem;
    font-size: 10px;
    color: #777;
    font-weight: 900;
}