.header{
    background-color:#00040F;
    // background-image:  linear-gradient(121deg, #00040F, #00040F, #00040F, rgba(#fff, .2), #00040F);
    display: flex;
    padding: 3rem;
}

.section-2{
    padding: 3rem;
}

.section-3{
    padding: 10rem 0;
}

.section-5{
    padding:3rem 0 ;
}
.section-6{
    padding:5rem 0 ;
}
.section-7{
    padding:5rem 0 ;
}
.section-8{
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-10{
    padding: 4rem 11rem;
}