* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Heebo', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  position: relative;
  width: 1440px;
  height: 5470px;
  border-radius: 8px; }
  @media (max-wdith: 375px) {
    body {
      position: relative;
      width: 375px;
      height: 6164px; } }

.body-1 {
  position: relative; }
  @media (max-wdith: 375px) {
    .body-1 {
      width: 375px;
      height: 6164px; } }

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 1450px; }
  .header__logo-text {
    position: absolute;
    width: 70px;
    height: 53px;
    left: 52px;
    top: 42px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    color: #333333; }
    @media (max-width: 375px) {
      .header__logo-text {
        position: absolute;
        width: 47px;
        height: 35px;
        left: 10px;
        top: 13px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 35px;
        color: #333333; } }
  .header__nav {
    position: absolute;
    width: 650px;
    height: 36px;
    left: 800px;
    top: 51px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; }
    @media (max-width: 375px) {
      .header__nav {
        display: none; } }
    .header__nav--items {
      display: inline-block; }
    .header__nav--links {
      text-decoration: none;
      margin-right: 30px;
      color: #333333;
      padding: 6px 0; }
      .header__nav--links:hover {
        border-bottom: 1px solid #333333; }
  .header__text1 {
    position: absolute;
    width: 256px;
    height: 27px;
    left: 277px;
    top: 191px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB; }
    @media (max-width: 375px) {
      .header__text1 {
        position: absolute;
        width: 171px;
        height: 18px;
        left: 40px;
        top: 96px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #2D9CDB; } }
  .header__text2 {
    position: absolute;
    width: 543px;
    height: 144px;
    left: 277px;
    top: 234px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333; }
    @media (max-width: 375px) {
      .header__text2 {
        position: absolute;
        width: 272px;
        height: 72px;
        left: 40px;
        top: 114px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333; } }
  .header__text3 {
    position: absolute;
    width: 366px;
    height: 141px;
    left: 277px;
    top: 816px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333; }
    @media (max-width: 375px) {
      .header__text3 {
        position: absolute;
        width: 190px;
        height: 58px;
        left: 40px;
        top: 368px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333; } }
  .header__text4 {
    position: absolute;
    width: 366px;
    height: 137px;
    left: 277px;
    top: 999px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F; }
    @media (max-width: 375px) {
      .header__text4 {
        position: absolute;
        width: 275px;
        height: 74px;
        left: 40px;
        top: 459px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #4F4F4F; } }
  .header__text5 {
    position: absolute;
    width: 172px;
    height: 21px;
    left: 277px;
    top: 1178px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #828282; }
    @media (max-width: 375px) {
      .header__text5 {
        position: absolute;
        width: 232px;
        height: 21px;
        left: 40px;
        top: 564px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: #828282; } }
  .header__text6 {
    position: absolute;
    width: 350px;
    height: 57px;
    left: 277px;
    top: 1208px;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 1rem 1.1rem;
    border: none; }
    .header__text6::placeholder {
      position: absolute;
      width: 50px;
      height: 27px;
      left: 10px;
      top: 15px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #BDBDBD; }
    @media (max-width: 375px) {
      .header__text6 {
        position: absolute;
        width: 291px;
        height: 47px;
        left: 40px;
        top: 585px;
        background: #F2F2F2;
        border-radius: 12px;
        padding: 1rem 1.1rem;
        border: none; } }
  .header__text7 {
    position: absolute;
    width: 94px;
    height: 49px;
    left: 529px;
    top: 1212px;
    padding: 10px 35px;
    text-decoration: none;
    color: #F2F2F2;
    background: #2D9CDB;
    border-radius: 12px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px; }
    @media (max-width: 375px) {
      .header__text7 {
        position: absolute;
        width: 71px;
        padding: 5px 23px;
        height: 39px;
        left: 256px;
        top: 589px;
        background: #2D9CDB;
        border-radius: 12px; } }
  .header__img {
    position: absolute;
    width: 1332px;
    height: 354px;
    left: 52px;
    top: 420px;
    background-image: url(../heroImage.jpg);
    border-radius: 18px; }
    @media (max-width: 375px) {
      .header__img {
        position: absolute;
        width: 348px;
        height: 145px;
        left: 10px;
        top: 201px;
        background-size: cover; } }

.box-1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 67px;
  height: 67px;
  background-color: #2d9cdb;
  border-radius: 16px; }

.box-2 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 67px;
  height: 67px;
  background-color: #27ae60;
  border-radius: 16px; }

.box-3 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 67px;
  height: 67px;
  background-color: #eb5757;
  border-radius: 16px; }

h1 {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 170px;
  height: 36px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.lorem {
  position: absolute;
  width: 273px;
  height: 96px;
  left: 20px;
  top: 180px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f; }

.text9 {
  position: absolute;
  width: 160px;
  height: 49px;
  left: 20px;
  top: 340px;
  padding: 10px 35px;
  text-decoration: none;
  color: #828282;
  background: #e0e0e0;
  border-radius: 12px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; }
  .text9:hover {
    color: #f2f2f2;
    background: #2d9cdb; }

.full {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  width: 183.88px;
  height: 26.45px;
  color: #828282; }

.smart {
  width: 367.77px;
  height: 45.34px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.img-1-box {
  display: flex;
  flex-direction: column;
  align-self: flex-end; }
  @media (max-width: 375px) {
    .img-1-box {
      align-self: flex-start;
      margin-bottom: 3rem; } }

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22rem; }
  @media (max-width: 375px) {
    .box1 {
      height: 15rem; } }

.box3 {
  display: flex;
  flex-direction: row-reverse; }
  @media (max-width: 375px) {
    .box3 {
      flex-direction: row; } }

.btn-2 {
  text-decoration: none;
  width: 150px;
  height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2d9cdb;
  padding: 0 0 2px 0; }
  .btn-2:hover {
    border-bottom: 1px solid #2d9cdb; }

.ll {
  background-image: url(../person3.png);
  width: 300px;
  height: 291.43px;
  border-radius: 24px; }
  @media (max-width: 375px) {
    .ll {
      width: 167.03px;
      height: 162.25px;
      background-size: 100%; } }

.ll2 {
  background-image: url(../person1.png);
  width: 260px;
  height: 260px;
  border-radius: 24px;
  margin-bottom: 3rem; }
  @media (max-width: 375px) {
    .ll2 {
      width: 144.76px;
      height: 144.76px;
      background-size: 100%; } }

.ll3 {
  background-image: url(../person2.png);
  width: 291.43px;
  height: 300px;
  border-radius: 24px; }
  @media (max-width: 375px) {
    .ll3 {
      width: 162.25px;
      height: 167.03px;
      background-size: 100%; } }

.ll4 {
  background-image: url(../person4.png);
  width: 100px;
  height: 100px;
  background-size: 100%;
  border-radius: 2rem;
  margin-right: 3rem; }

.meet {
  width: 280px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #eb5757;
  margin-bottom: 1rem; }

.we {
  width: 280px;
  height: 162px;
  left: 170px;
  top: 4347px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
  margin-bottom: 1rem; }

.lorem1 {
  width: 273px;
  height: 48px;
  left: 170px;
  top: 4523px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f; }

.carl {
  width: 140px;
  height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.the {
  width: 191px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282; }

.img-box1 {
  display: flex;
  align-items: center;
  margin-right: 5rem; }

.img-box2:not(:last-child) {
  margin-bottom: 3rem; }

.want {
  width: 172px;
  height: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
  margin-bottom: 0.8rem; }

.btn4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  width: 94px;
  height: 49px;
  padding: 10px 35px;
  text-decoration: none;
  color: #f2f2f2;
  background: #2d9cdb;
  border-radius: 12px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; }
  @media (max-width: 375px) {
    .btn4 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 111.8rem; } }

.op {
  position: relative; }

.icon-1 {
  margin-right: 5px; }

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 375px) {
    .icon-box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; } }

.box {
  margin-top: 6px; }

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 0 0 14rem 14rem; }
  @media (max-width: 375px) {
    .section-1 {
      padding: 0 2rem;
      height: 210rem; } }
  .section-1__text1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
    width: 543px;
    height: 144px; }
    @media (max-width: 375px) {
      .section-1__text1 {
        width: 233px;
        height: 72px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
        margin-bottom: 5rem;
        margin-left: 5rem; } }
  .section-1__img-box {
    display: flex;
    height: 80rem; }
    @media (max-width: 375px) {
      .section-1__img-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 15rem; } }
  .section-1__img-1 {
    width: 524.41px;
    height: 525.22px;
    background-image: url(../smarthome.jpg);
    border-radius: 8px;
    background-size: 100%;
    align-self: flex-end;
    margin-right: 10rem;
    margin-bottom: 3rem; }
    @media (max-width: 375px) {
      .section-1__img-1 {
        align-self: flex-start;
        width: 35rem;
        height: 336.57px; } }
  .section-1__img-2 {
    width: 524.41px;
    height: 525.22px;
    background-image: url(../onboard.png);
    border-radius: 8px;
    background-size: 100%;
    margin-bottom: 3rem; }
    @media (max-width: 375px) {
      .section-1__img-2 {
        width: 35rem;
        height: 336.57px; } }
  .section-1__img-3 {
    background-image: url(../booking.png);
    width: 524.41px;
    height: 525.22px;
    border-radius: 8px;
    background-size: 100%;
    align-self: flex-end;
    margin-right: 10rem;
    margin-bottom: 3rem; }
    @media (max-width: 375px) {
      .section-1__img-3 {
        width: 35rem;
        height: 336.57px; } }
  .section-1__img-4 {
    width: 524.41px;
    height: 525.22px;
    background-image: url(../juice-product.png);
    border-radius: 8px;
    background-size: 100%;
    margin-bottom: 3rem; }
    @media (max-width: 375px) {
      .section-1__img-4 {
        width: 35rem;
        height: 336.57px; } }

.section-2 {
  display: flex; }
  @media (max-width: 376px) {
    .section-2 {
      display: flex;
      flex-direction: column;
      padding: 0 1rem; } }
  .section-2__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; }
    @media (max-width: 376px) {
      .section-2__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; } }
  .section-2__images {
    display: flex;
    flex: 1; }
    @media (max-width: 376px) {
      .section-2__images {
        width: 375px; } }

.section-3 {
  padding: 10rem 20rem;
  display: flex;
  flex-direction: column; }
  @media (max-width: 375px) {
    .section-3 {
      padding: 5rem 1rem; } }
  .section-3__text {
    width: 937px;
    height: 162px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    margin-bottom: 5rem; }
    @media (max-width: 375px) {
      .section-3__text {
        width: 351px;
        height: 180px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px; } }
  .section-3__images {
    display: flex; }
    .section-3__images--text {
      align-self: center; }

.footer {
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
  width: 1442px;
  height: 385px;
  background: #100E1D; }
  @media (max-width: 375px) {
    .footer {
      height: 656px; } }
  .footer__box {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 375px) {
      .footer__box {
        display: flex;
        flex-direction: column;
        margin-left: 5rem; } }
  @media (max-width: 375px) {
    .footer__edie {
      margin-bottom: 5rem; } }
  .footer__nav {
    list-style: none; }
    @media (max-width: 375px) {
      .footer__nav {
        margin-bottom: 5rem; } }
    .footer__nav--links {
      width: 92px;
      height: 180px;
      text-decoration: none;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 200%;
      color: #fff; }
  .footer__text {
    width: 70px;
    height: 53px;
    margin-bottom: 1rem;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    color: #F2F2F2; }
  .footer__search-1 {
    width: 348px;
    height: 55px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 1rem 1.1rem; }
    .footer__search-1::placeholder {
      width: 50px;
      height: 27px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #BDBDBD; }
    @media (max-width: 375px) {
      .footer__search-1 {
        position: relative;
        width: 28rem; } }
  .footer__last {
    align-self: center;
    margin: 8rem;
    width: 287px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F2F2F2; }
    @media (max-width: 375px) {
      .footer__last {
        margin-left: -90rem; } }

.lop {
  height: 650px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 375px) {
    .lop {
      height: 160rem; } }
  .lop__box0 {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 375px) {
      .lop__box0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 375px; } }
  .lop__box1 {
    width: 341px;
    height: 422px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    transition: all .2s;
    position: relative;
    z-index: 1;
    border-radius: 24px; }
    .lop__box1--1 {
      position: relative; }
    .lop__box1:hover {
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
      transform: translateY(-3rem); }
  .lop__box2 {
    width: 341px;
    height: 422px;
    transition: all .2s;
    background: #FFFFFF;
    border-radius: 24px;
    position: relative;
    z-index: 1; }
    .lop__box2--1 {
      position: relative; }
    .lop__box2:hover {
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
      transform: translateY(-3rem); }
  .lop__box3 {
    width: 341px;
    height: 422px;
    transition: all .2s;
    background: #FFFFFF;
    border-radius: 24px;
    position: relative;
    z-index: 1; }
    .lop__box3--1 {
      position: relative; }
    .lop__box3:hover {
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
      transform: translateY(-3rem); }
  .lop__text8 {
    width: 346px;
    height: 108px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    margin: 0 0 8rem 8rem; }
    @media (max-width: 375px) {
      .lop__text8 {
        width: 259px;
        height: 72px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
        margin-left: 30px; } }
